<app-loader *ngIf="isLoading"></app-loader>
<section *ngIf="data" class="section is-medium">
  <h1 class="title">{{ ticker }}</h1>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a (click)="onShowBioModal()">Bio</a></li>
      <li><a (click)="onShowHoldersModal()">Insider Holdings</a></li>
      <li><a (click)="setOutlook()">Company Outlook</a></li>
    </ul>
  </nav>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <p>
          {{ data.summaryProfile.industry }}
          <span>(${{data.price.regularMarketPrice.fmt}})</span>
        </p>
        <a href="{{data.summaryProfile.website}}" target="_blank">{{ data.summaryProfile.website }}</a>
      </div>
    </div>
  </div>
  <app-bio-modal
    *ngIf="showBioModal"
    (onClose)="showBioModal = false"
    [data]="bioModalData"
  ></app-bio-modal>

  <app-holders-modal
  *ngIf="showHoldersModal"
  (onClose)="showHoldersModal = false"
  [data]="holdersModalData"
></app-holders-modal>

<app-outlook-modal
*ngIf="showOutlookModal"
(onClose)="showOutlookModal = false"
[data]="outlookModalData"
></app-outlook-modal>

</section>

<app-line *ngIf="ticker" [ticker]="ticker"></app-line>
