<section class="section is-medium" *ngIf="data">
  <h1 class="title">Trending Tickers</h1>
  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-between is-align-content-center">
    <div class="is-align-self-center" *ngFor="let ticker of data">
      <app-trending-tickers-card [ticker]="ticker"></app-trending-tickers-card>
    </div>

    <!-- <section class="section is-medium">
      <h1 class="title">Trending Tickers</h1>
      <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-between is-align-content-center">
        <div class="is-align-self-center">
          <app-trending-tickers-card></app-trending-tickers-card>
        </div>


     <div class="is-align-self-center">
      <app-trending-tickers-card></app-trending-tickers-card>
    </div>


    <div class="is-align-self-center">
      <app-trending-tickers-card></app-trending-tickers-card>
    </div>

    <div class="is-align-self-center">
      <app-trending-tickers-card></app-trending-tickers-card>
    </div>

    <div class="is-align-self-center">
      <app-trending-tickers-card></app-trending-tickers-card>
    </div>

    <div class="is-align-self-center">
      <app-trending-tickers-card></app-trending-tickers-card>
    </div> -->
  </div>
</section>
